
# Author: <Xinlong Hu> From China
# Editor: Emacs
# E-mail: along.emacs@gmail.com
# Version: 3.6.1@alt.org

#----------GAME ENVIRONMENT----------
OPTIONS=name:along
OPTIONS=role:knight
OPTIONS=race:human
OPTIONS=gender:male
OPTIONS=align:lawful
OPTIONS=horsename:BK-201

OPTIONS=color
OPTIONS=time
OPTIONS=showexp
OPTIONS=showrace
OPTIONS=showscore
OPTIONS=msg_window:full
#OPTIONS=menu_glyphs

OPTIONS=symset:DECgraphics
#OPTIONS=symset:IBMgraphics
#OPTIONS=symset:ASCII
SYMBOLS=S_boulder:0
SYMBOLS=S_ghost:X

OPTIONS=fullscreen
OPTIONS=number_pad:0

OPTIONS=hilite_pet
OPTIONS=lit_corridor

OPTIONS=autodig
OPTIONS=autopickup
OPTIONS=pickup_types:$

OPTIONS=disclose:+i+a+v+g+c
OPTIONS=nonews
OPTIONS=nosilent
OPTIONS=popup_dialog

OPTIONS=fruit:slime mold
# apple, banana, carrot, melon, orange, pear

#OPTIONS=paranoid_confirmation:Confirm quit attack pray wand Remove
#------------------------------------

#----------OTHER PATCHES---------
OPTIONS=hilite_pile
#OPTIONS=hilite_hidden_stairs
OPTIONS=sortloot:full
#OPTIONS=show_obj_sym
OPTIONS=use_darkgray
OPTIONS=autoopen
#----------

# ----------MENU COLORS----------
OPTIONS=menucolors

## common
MENUCOLOR=" uncursed "=white
MENUCOLOR=" corroded "=brown
MENUCOLOR=" blessed "=lightgreen
MENUCOLOR=" holy "=lightgreen&inverse
MENUCOLOR=" cursed "=red&inverse
MENUCOLOR=" cursed .* (being worn)"=orange&underline
MENUCOLOR=" gold "=yellow
MENUCOLOR="^Coins$"=yellow&inverse
MENUCOLOR="^Amulets$"=cyan&inverse
MENUCOLOR="^Weapons$"=lightblue&inverse
MENUCOLOR="^Armor$"=cyan&inverse
MENUCOLOR="^Comestibles$"=brown&inverse
MENUCOLOR="^Scrolls$"=white&inverse
MENUCOLOR="^Spellbooks$"=lightmagenta&inverse
MENUCOLOR="^Potions$"=green&inverse
MENUCOLOR="^Rings$"=red&inverse
MENUCOLOR="^Wands$"=yellow&inverse
MENUCOLOR="^Tools$"=brown&inverse
MENUCOLOR="^Gems/Stones$"=gray&inverse
MENUCOLOR="^Statues$"=white&inverse

## Armor
### Common
MENUCOLOR=" white dragon "=white
MENUCOLOR=" black dragon "=black
MENUCOLOR=" red dragon "=red
MENUCOLOR=" orange dragon "=orange
MENUCOLOR=" silver dragon "=gray
MENUCOLOR=" elven "=green
MENUCOLOR=" dwarvish "=cyan
MENUCOLOR=" orcish "=brown
MENUCOLOR=" Uruk-hai "=brown
### Magical - Identified
MENUCOLOR=" elven boots"=magenta
MENUCOLOR=" fumble boots"=red&inverse
MENUCOLOR=" jumping boots"=magenta
MENUCOLOR=" kicking boots"=magenta
MENUCOLOR=" levitation boots"=magenta
MENUCOLOR=" speed boots"=magenta
MENUCOLOR=" water walking boots"=magenta
MENUCOLOR=" alchemy smock"=magenta
MENUCOLOR=" cloak of displacement"=magenta
MENUCOLOR=" cloak of invisibility"=magenta
MENUCOLOR=" cloak of magic resistance"=magenta
MENUCOLOR=" cloak of protection"=magenta
MENUCOLOR=" elven cloak"=magenta
MENUCOLOR=" robe"=magenta
MENUCOLOR=" gauntlets of dexterity"=magenta
MENUCOLOR=" gauntlets of fumbling"=red&inverse
MENUCOLOR=" gauntlets of power"=magenta
MENUCOLOR=" cornuthaum"=magenta
MENUCOLOR=" dunce cap"=magenta
MENUCOLOR=" helm of brilliance"=magenta
MENUCOLOR=" helm of opposite alignment"=magenta
MENUCOLOR=" helm of telepathy"=magenta
MENUCOLOR=" shield of reflection"=magenta
### Magical - Un-Identified
MENUCOLOR=" piece of cloth"=magenta
MENUCOLOR=" apron"=magenta
MENUCOLOR=" opera cloak"=magenta
MENUCOLOR=" ornamental cope"=magenta
MENUCOLOR=" faded pall"=magenta
MENUCOLOR=" tattered cape"=magenta
MENUCOLOR=" conical hat"=magenta
MENUCOLOR=" etched helmet"=magenta
MENUCOLOR=" crested helmet"=magenta
MENUCOLOR=" visored helmet"=magenta
MENUCOLOR=" padded gloves"=magenta
MENUCOLOR=" riding gloves"=magenta
MENUCOLOR=" fencing gloves"=magenta
MENUCOLOR=" polished silver"=magenta
MENUCOLOR=" mud boots"=magenta
MENUCOLOR=" buckled boots"=magenta
MENUCOLOR=" riding boots"=magenta
MENUCOLOR=" snow boots"=magenta
MENUCOLOR=" hiking boots"=magenta
MENUCOLOR=" combat boots"=magenta
MENUCOLOR=" jungle boots"=magenta
### OTHER
MENUCOLOR=" oilskin cloak"=lightblue
MENUCOLOR=" slippery cloak"=lightblue
MENUCOLOR=" robe"=lightmagenta

## Wands
### Identified
MENUCOLOR="wand of light"=white
MENUCOLOR="blessed wand of light"=white&underline
MENUCOLOR="wand of nothing"=white
MENUCOLOR="blessed wand of nothing"=white&underline
MENUCOLOR="wand of digging"=brown
MENUCOLOR="blessed wand of digging"=brown&underline
MENUCOLOR="wand of enlightenment"=cyan
MENUCOLOR="blessed wand of enlightenment"=cyan&underline
MENUCOLOR="wand of locking"=brown
MENUCOLOR="blessed wand of locking"=brown&underline
MENUCOLOR="wand of magic missile"=lightblue
MENUCOLOR="blessed wand of magic missile"=lightblue&underline
MENUCOLOR="wand of make invisible"=white
MENUCOLOR="blessed wand of make invisible"=white&underline
MENUCOLOR="wand of opening"=brown
MENUCOLOR="blessed wand of opening"=brown&underline
MENUCOLOR="wand of probing"=cyan
MENUCOLOR="blessed wand of probing"=cyan&underline
MENUCOLOR="wand of secret door detection"=brown
MENUCOLOR="blessed wand of secret door detection"=brown&underline
MENUCOLOR="wand of slow monster"=yellow
MENUCOLOR="blessed wand of slow monster"=yellow&underline
MENUCOLOR="wand of speed monster"=green
MENUCOLOR="blessed wand of speed monster"=green&underline
MENUCOLOR="wand of striking"=yellow
MENUCOLOR="blessed wand of striking"=yellow&underline
MENUCOLOR="wand of undead turning "=lightblue
MENUCOLOR="blessed wand of undead turning "=lightblue&underline
MENUCOLOR="wand of cold"=blue
MENUCOLOR="blessed wand of cold"=blue&underline
MENUCOLOR="wand of fire"=orange
MENUCOLOR="blessed wand of fire"=orange&underline
MENUCOLOR="wand of lightning"=yellow
MENUCOLOR="blessed wand of lightning"=yellow&underline
MENUCOLOR="wand of sleep"=magenta
MENUCOLOR="blessed wand of sleep"=magenta&underline
MENUCOLOR="wand of cancellation"=red&inverse
MENUCOLOR="wand of create monster"=lightcyan
MENUCOLOR="blessed wand of create monster"=lightcyan&underline
MENUCOLOR="wand of polymorph"=magenta
MENUCOLOR="blessed wand of polymorph"=magenta&underline
MENUCOLOR="wand of teleportation"=blue
MENUCOLOR="blessed wand of teleportation"=blue&underline
MENUCOLOR="wand of death"=red
MENUCOLOR="blessed wand of death"=red&underline
MENUCOLOR="wand of wishing"=lightmagenta
MENUCOLOR="blessed wand of wishing"=lightmagenta&underline
MENUCOLOR=" cursed wand of "=red&inverse
### Used out
MENUCOLOR="wand of .* \(.:0\)"=white&inverse
### Un-Identified
MENUCOLOR="glass wand"=white
MENUCOLOR="blessed glass wand"=white&underline
MENUCOLOR="balsa wand"=white
MENUCOLOR="blessed balsa wand"=white&underline
MENUCOLOR="crystal wand"=lightblue
MENUCOLOR="blessed crystal wand"=lightblue&underline
MENUCOLOR="maple wand"=brown
MENUCOLOR="blessed maple wand"=brown&underline
MENUCOLOR="pine wand"=brown
MENUCOLOR="blessed pine wand"=brown&underline
MENUCOLOR="oak wand"=brown
MENUCOLOR="blessed oak wand"=brown&underline
MENUCOLOR="ebony wand"=white
MENUCOLOR="blessed ebony wand"=white&underline
MENUCOLOR="marble wand"=gray
MENUCOLOR="blessed marble wand"=gray&underline
MENUCOLOR="tin wand"=gray
MENUCOLOR="blessed tin wand"=gray&underline
MENUCOLOR="brass wand"=yellow
MENUCOLOR="blessed brass wand"=yellow&underline
MENUCOLOR="copper wand"=yellow
MENUCOLOR="blessed copper wand"=yellow&underline
MENUCOLOR="silver wand"=white
MENUCOLOR="blessed silver wand"=white&underline
MENUCOLOR="platinum wand"=white
MENUCOLOR="blessed platinum wand"=white&underline
MENUCOLOR="iridium wand"=white
MENUCOLOR="blessed iridium wand"=white&underline
MENUCOLOR="zinc wand"=white
MENUCOLOR="blessed zinc wand"=white&underline
MENUCOLOR="aluminum wand"=white
MENUCOLOR="blessed aluminum wand"=white&underline
MENUCOLOR="uranium wand"=cyan
MENUCOLOR="blessed uranium wand"=cyan&underline
MENUCOLOR="iron wand"=white
MENUCOLOR="blessed iron wand"=white&underline
MENUCOLOR="steel wand"=white
MENUCOLOR="blessed steel wand"=white&underline
MENUCOLOR="hexagonal wand"=cyan
MENUCOLOR="blessed hexagonal wand"=cyan&underline
MENUCOLOR="short wand"=brown
MENUCOLOR="blessed short wand"=brown&underline
MENUCOLOR="runed wand"=magenta
MENUCOLOR="blessed runed wand"=magenta&underline
MENUCOLOR="long wand"=green
MENUCOLOR="blessed long wand"=green&underline
MENUCOLOR="curved wand"=brown
MENUCOLOR="blessed curved wand"=brown&underline
MENUCOLOR="forked wand"=brown
MENUCOLOR="blessed forked wand"=brown&underline
MENUCOLOR="spiked wand"=white
MENUCOLOR="blessed spiked wand"=white&underline
MENUCOLOR="jeweled wand"=white
MENUCOLOR="blessed jeweled wand"=white&underline

## Gems
### Identified
MENUCOLOR=" worthless "=white&inverse
MENUCOLOR=" cursed worthless "=red&inverse

#----------END MENUCOLOR----------

# Use status hilites
OPTIONS=statushilites
## HP
OPTIONS=hitpointbar
OPTIONS=hilite_status:hitpoints/100%/green&normal
OPTIONS=hilite_status:hitpoints/<100%/green&normal
OPTIONS=hilite_status:hitpoints/<66%/yellow&normal
OPTIONS=hilite_status:hitpoints/<50%/orange&normal
OPTIONS=hilite_status:hitpoints/<33%/red
OPTIONS=hilite_status:hitpoints/<15%/red&inverse
## Pw
OPTIONS=hilite_status:power/100%/green&normal
OPTIONS=hilite_status:power/<100%/green&normal
OPTIONS=hilite_status:power/<66%/yellow&normal
OPTIONS=hilite_status:power/<50%/orange&normal
OPTIONS=hilite_status:power/<33%/red&bold
## Carry
OPTIONS=hilite_status:cap/burdened/yellow
OPTIONS=hilite_status:cap/stressed/orange
OPTIONS=hilite_status:cap/strained/orange
OPTIONS=hilite_status:cap/overtaxed/red&inverse
OPTIONS=hilite_status:cap/overloaded/red&inverse
## Hunger
OPTIONS=hilite_status:hunger/satiated/red&inverse
OPTIONS=hilite_status:hunger/hungry/orange
OPTIONS=hilite_status:hunger/weak/red
OPTIONS=hilite_status:hunger/fainting/red&inverse
OPTIONS=hilite_status:hunger/fainted/red&inverse
## Mental
OPTIONS=hilite_status:condition/hallu/yellow
OPTIONS=hilite_status:condition/conf/orange
OPTIONS=hilite_status:condition/stun/orange
OPTIONS=hilite_status:condition/Ride/green
OPTIONS=hilite_status:condition/Fly/lightblue
OPTIONS=hilite_status:condition/Lev/lightblue
OPTIONS=hilite_status:condition/Blind/red
## Align
OPTIONS=hilite_status:alignment/Lawful/green
OPTIONS=hilite_status:alignment/Neutral/white
OPTIONS=hilite_status:alignment/Chaotic/black
## Health
OPTIONS=hilite_status:condition/termill/red&inverse
OPTIONS=hilite_status:condition/foodpois/red&inverse
OPTIONS=hilite_status:condition/slime/red&inverse
## Str, Con, Dex, Int, Wis, Cha, AC, Xp
OPTIONS=hilite_status:HP/up/green/down/red
OPTIONS=hilite_status:St/up/green/down/red
OPTIONS=hilite_status:Dx/up/green/down/red
OPTIONS=hilite_status:Co/up/green/down/red
OPTIONS=hilite_status:In/up/green/down/red
OPTIONS=hilite_status:Wi/up/green/down/red
OPTIONS=hilite_status:Ch/up/green/down/red
OPTIONS=hilite_status:AC/down/green/up/red
OPTIONS=hilite_status:Xp/down/red/up/green
## gold
OPTIONS=hilite_status: gold/up/yellow/down/red
